{{template "base/head" .}}
<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div class="logo">
				<img src="{{AppSubUrl}}/img/favicon.png" />
			</div>
			<div class="hero">
				<h1 class="ui icon header title">
					0.0
				</h1>
				<h2>贾老板的私人代码库</h2>
			</div>
		</div>
	</div>
</div>

